// Dialog
.ve-ui-mwEduSharingDialog-indexLayout {
	height: 100%;
	.ve-ui-mwEduSharingDialog-preview {
		text-align: center;
		background: #eee;
		img {
			max-width: 300px;
			max-height: 300px;
			width: auto;
			height: auto;
			padding: 1.5rem 1rem 0;
		}
	}
	.mw-edusharing-dialog-preview-caption {
		padding: 5px 20px;
	}
	#repo-button {
		display: block;
		width: 100%;
		margin-bottom: 1rem;
		padding: .5rem 0 1.25rem;
		text-align: center;
		background-color: #eee;
	}
}

// .oo-ui-dialog #edusharing {
// 	position: fixed;
// 	border: none;
// 	background: url( edusharing.svg ) center center no-repeat;
// 	background-size: 150px;;
// }

// // Hide the height input field in Dimension widget since we don't want to change the ratio (the height is always set to 'auto')
// .ve-ui-dimensionsWidget {
// 	div.oo-ui-textInputWidget-type-text:last-of-type,
// 	label:first-of-type {
// 		display: none;
// 	}
// }

// .ve-ce-mwEduSharingNode {
//     display: inline;
//     width: auto;
//     max-width: 100%;
// 	.mw-edusharing-placeholder,
// 	.mw-edusharing-error {
// 		padding: 10px;
// 		background: #f5f5f5;
// 		border: 1px dashed #ccc;
// 		color: #333;
// 		min-height: 50px;
// 		display: flex;
// 		align-items: center;
// 		justify-content: center;
// 		text-align: center;
// 	}
// }

.mw-edusharing-preview {
	.mw-edusharing-preview-caption {
		display: flex;
		align-items: center;
		min-height: 48px;
		padding: 5px 20px;
	}
}