.ve-ui-mwEduSharingDialog-indexLayout {
	height: 100%;
}

.oo-ui-dialog #edusharing {
	position: fixed;
	border: none;
	background: url( edusharing.svg ) center center no-repeat;
	background-size: 150px;;
}

// Hide the height input field in Dimension widget since we don't want to change the ratio (the height is always set to 'auto')
.ve-ui-dimensionsWidget {
	div.oo-ui-textInputWidget-type-text:last-of-type,
	label:first-of-type {
		display: none;
	}
}